:root {
  --green: #00d86c;
  --red: #ff0033;
  --green_hvr: #17fe92;
  --black: #0a0a0a;
  --purple: #d63384;
}

/* ------------UTILITY------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", "monospace";
  color: var(--green);
  letter-spacing: 1.5px;
}

h1,
h2 {
  color: var(--red);
}

a {
  position: relative;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: var(--black);
}

.btn {
  background-color: var(--green);
  color: var(--black);
  font-size: 18px;
  position: relative;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--green_hvr);
  color: var(--black);
}

/* ------------UTILITY------------- */

/* ------------ANIMATION FX------------- */

@keyframes glitch-bg {
  0%,
  20%,
  100% {
    background-position: 0 0;
  }
  10%,
  15% {
    background-position: 60% 60%;
  }
  12% {
    background-position: 30% 40%;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes flicker {
  0%,
  100% {
    transform: translateX(-20);
  }
  50% {
    transform: translateX(40px);
  }
}

/* ------------ANIMATION FX------------- */

/* ------------NAV------------- */

nav a span,
nav ul li span {
  color: var(--red);
}

main .intro-wrapper h1 {
  color: var(--red);
}

.active::before {
  content: ">";
  position: absolute;
  left: -10px;
  color: var(--red);
  animation: blink 1s step-start infinite;
}

/* ------------NAV------------- */

/* ------------HOME------------- */

.home-bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-image: url(./assets/bg.jpg);
  background-position: center;
  background-size: cover;
  animation: glitch-bg 3s steps(2) infinite;
}

.animate-scrolling {
  display: inline-block;
  animation: scrolling 18s linear infinite;
}

.scrolling-txt {
  color: var(--red);
}

/* ------------HOME------------- */

/* ------------EXHIBITS------------- */

.exhibits-bg {
  position: absolute;
  width: 200%;
  height: auto;
  z-index: -1;
  pointer-events: none;
  opacity: 0.4;
  background-repeat: no-repeat;
}

.card {
  background-color: #00ff990f;
}

.img-fixed {
  height: 350px;
  object-fit: cover;
  z-index: 0;
  position: relative;
}

.card-title {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--green);
}

.card-img-top {
  filter: grayscale(0.8) contrast(1.2);
  transition: filter 1.5s ease-in-out;
}
.card:hover .card-img-top {
  filter: grayscale(0.3) brightness(1);
}

/* ------------MODALS------------- */
.museum-modal {
  background: radial-gradient(ellipse at center, #262626 0%, #0f0f0f 100%);
  text-shadow: 0 0 2px #222;
}

.void-modal {
  background: radial-gradient(circle at center, #000 0%, #060015 80%);
  font-family: "IBM Plex Mono", monospace;
  color: #c0f5ff;
}

.dots {
  animation: blink 1.2s infinite;
}
/* ------------MODALS------------- */

/* ------------EXHIBITS------------- */

/* ------------CONTACT------------- */

.contact-bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-image: url(./assets/contact_bg.jpg);
  background-position: center;
  background-size: cover;
  animation: glitch-bg 3s steps(1) infinite;
}

.contact-wrapper {
  background-color: #00ff990f;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px 1px #00ff9968;
  border-radius: 3px;
  position: relative;
}

.current-time {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 0 0 6px;
}

.contact-wrapper form input,
.contact-wrapper form textarea {
  background-color: transparent;
  color: white;
  border: 0.5px solid #00ff9937;
  border-radius: 3px;
  background-color: #0a0a0a5f;
}

.contact-wrapper form input:focus,
.contact-wrapper form textarea:focus {
  border: none;
  box-shadow: 0 0 4px 1px #00ff9968;
  background-color: transparent;
  color: white;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
  color: #ffffff;
  opacity: 0.75;
}

input:focus + label:after,
textarea:focus + label:after {
  content: "_";
  color: var(--red);
  animation: blink 1s step-start infinite;
}

.form-check-input:checked {
  background-color: #ff0033;
  border: none;
  border-radius: 0;
}

/* ------------CONTACT------------- */
