:root {
  --green: #00ff80bb;
  --red: #ff0033e3;
  --green_hvr: #00ff80;
  --black: #0a0a0a;
}

/* ------------UTILITY------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "VT323", "monospace";
  color: var(--green);
  letter-spacing: 1.5px;
}

h1,
h2 {
  color: var(--red);
}

a {
  position: relative;
  text-decoration: none;
}

a li:hover {
  color: var(--green_hvr);
}

li {
  list-style: none;
}

body {
  background-color: var(--black);
}

.btn {
  background-color: transparent;
  border: 1px solid var(--green);
  color: var(--green);
  font-size: 18px;
  position: relative;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--green);
  color: var(--red);
}

.locked {
  animation: blinkerOut 1.5s ease-in infinite;
}

/* ------------UTILITY------------- */

/* ------------ANIMATION FX------------- */

@keyframes glitch-bg {
  0%,
  20%,
  100% {
    background-position: 0 0;
  }
  10%,
  15% {
    background-position: 60% 60%;
  }
  12% {
    background-position: 30% 40%;
  }
}

@keyframes glitch {
  0% {
    transform: none;
  }
  20% {
    transform: skew(-5deg);
  }
  40% {
    transform: skew(5deg);
  }
  60% {
    transform: skew(-5deg);
  }
  80% {
    transform: skew(5deg);
  }
  100% {
    transform: none;
  }
}

@keyframes rumble {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-0.5px, 0.5px);
  }
  40% {
    transform: translate(0.5px, -0.5px);
  }
  60% {
    transform: translate(-0.4px, 0.3px);
  }
  80% {
    transform: translate(0.3px, -0.4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blinkish {
  50% {
    opacity: 0.7;
  }
}

@keyframes blinkerOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flicker {
  0%,
  100% {
    transform: translateX(-20);
  }
  50% {
    transform: translateX(40px);
  }
}

/* ------------ANIMATION FX------------- */

/* ------------NAV------------- */

nav a span,
nav ul li span {
  color: var(--red);
}

main .intro-wrapper h1 {
  color: var(--red);
}

.active::before {
  content: ">";
  position: absolute;
  left: -10px;
  color: var(--red);
  animation: blink 1s step-start infinite;
}

/* ------------NAV------------- */

/* ------------HOME------------- */

.home-bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-image: url(./assets/contact_bg.jpg);
  background-position: center;
  background-size: cover;
  animation: glitch-bg 3s steps(2) infinite;
}

.intro-wrapper h1 {
  animation: glitch 1s infinite;
}

.animate-scrolling {
  display: inline-block;
  animation: scrolling 18s linear infinite;
}

.scrolling-txt {
  color: var(--red);
}

/* ------------HOME------------- */

/* ------------EXHIBITS------------- */

.exhibits-bg {
  background: radial-gradient(circle at center, #021400 0%, #0c0c0c 80%);
}

.card {
  background-color: #272727;
  animation: rumble 1s infinite;
}

.img-fixed {
  height: 350px;
  object-fit: cover;
  z-index: 0;
  position: relative;
}

.card-title {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  color: var(--green);
  padding: 0.5rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.314);
  border-radius: 5px;
  margin-top: 0.5rem;
}

.card-img-top {
  filter: grayscale(0.8) contrast(1.2);
  transition: filter 1.5s ease-in-out;
}
.card:hover .card-img-top {
  filter: grayscale(0.3) brightness(1);
}

.card .card-body {
  min-height: 80px;
}

/* ------------MODALS------------- */
.museum-modal {
  background: radial-gradient(ellipse at center, #262626 0%, #0f0f0f 100%);
  text-shadow: 0 0 2px #222;
}

.void-modal {
  background: radial-gradient(circle at center, #000 0%, #060015 80%);
  font-family: "IBM Plex Mono", monospace;
  color: #c0f5ff;
}

.dots {
  animation: blink 1.2s infinite;
}
/* ------------MODALS------------- */

/* ------------EXHIBITS------------- */

/* ------------CONTACT------------- */

.contact-bg {
  background: radial-gradient(ellipse at center, #262626 0%, #0f0f0f 100%);
}

.contact-wrapper {
  background-color: #00ff990f;
  padding: 1rem;
  margin: 3rem auto 10rem auto;
  box-shadow: 0 0 4px 1px #00ff9968;
  border-radius: 3px;
  position: relative;
  width: 90%;
  max-width: 800px;
  animation: blinkish 2s infinite;
}

.current-time {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 0 0 6px;
}

.contact-wrapper form input,
.contact-wrapper form textarea {
  background-color: transparent;
  color: white;
  border: 0.5px solid #00ff9937;
  border-radius: 3px;
  background-color: #0a0a0a5f;
}

.contact-wrapper form input:focus,
.contact-wrapper form textarea:focus {
  border: none;
  box-shadow: 0 0 4px 1px #00ff9968;
  background-color: transparent;
  color: white;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
  color: #ffffff;
  opacity: 0.75;
}

input:focus + label:after,
textarea:focus + label:after {
  content: "_";
  color: var(--red);
  animation: blink 1s step-start infinite;
}

.form-check-input:checked {
  background-color: #ff0033;
  border: none;
  border-radius: 0;
}

/* ------------CONTACT------------- */
